<!DOCTYPE html>
<html>

<header>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a href="['/index']"><h3>CONEXION UNAH</h3></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/iniciar-sesion']"><button type="button" class="btn btn-warning">INICIAR SESION</button></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>
<body id="content">
  
      <div class="principal"> 
        <img  class="img-responsive" src="assets/img/fondo_body.jpg">
       </div>

  <div class="ini_sesion">
    <button class="iniciar" type="submit">INICIAR SESION</button>
  </div>
  <div class="registrar">
    <button  class=registrate type="submit">REGISTRATE</button>
  </div>
  
</body>

<footer>
  
</footer>

</html>