<div class="container-fluid fondo-principal">
    <div class="row">
        <div class="col-4 text-center div-foto">
            <img src="../../../assets/img/logo_transparent.png" class="logo-settings"alt="">
            <img src="../../../assets/img/perfiles-temporal/3.jpg" class="perfil-img" alt="">
          
          
          <div class="">
            <i class="fa-solid fa-camera icono-camara"></i>
            <i class="fa-solid fa-camera icono-camara"></i>
            <i class="fa-solid fa-camera icono-camara"></i>
          </div>

          <div class="d-grid gap-2 col-6 mx-auto fondo-azul">
            <span class="text-light">Agregar o elemiminar fotografia.</span>
            <button class="btn btn-primary btn-perfil">Subir Archivo</button>
          </div>

          <a href="" class="text-light" ><h5> CONSTANCIAS <i class="fa-solid fa-hand-point-up"></i></h5> </a> <br>
          <div class="div-cookies">
            <span class="span-multi">Privacidad · Condiciones · Publicidad · Opciones · Cookies · FAQ-FPR · 2022</span>
          </div> 
        </div>

        <div class="col-8 div-info">Hoalcol-9</div>
    </div>
</div>
