<div class="container-fluid fondo-principal">
    <div class="row">
        <div class="col-4 text-center div-foto">
            <img src="../../../assets/img/logo_transparent.png" class="logo-settings"alt="">
            <img src="../../../assets/img/perfiles-temporal/3.jpg" class="perfil-img" alt="">
          
          
          <div class="">
            <i class="fa-solid fa-camera icono-camara"></i>
            <i class="fa-solid fa-camera icono-camara"></i>
            <i class="fa-solid fa-camera icono-camara"></i>
          </div>

          <div class="d-grid gap-2 col-6 mx-auto fondo-azul">
            <span class="text-light">Agregar o elemiminar fotografia.</span>
            <button class="btn btn-primary btn-perfil">Subir Archivo</button>
          </div>

          <a href="/constancias-interfaz" class="text-light" ><h3> CONSTANCIAS <i class="fa-solid fa-hand-point-up"></i></h3> </a> <br>
          <div class="div-cookies">
            <span class="span-multi">Privacidad · Condiciones · Publicidad · Opciones · Cookies · FAQ-FPR · 2022</span>
          </div> 
        </div>

        <div class="col-8 div-info p-5">
            <h3>Datos Personales</h3>
            <p>Esta es la información personal que nos brindaste en tu registro.</p>
            
            <form class="cuerpo-formulario mt-3">
                <div class="mb-3">
                    <label for="dni" class="form-label"><b>DNI:</b> 0824199700053</label>
                    
                </div>
                <div class="mb-3">
                <label for="nombre" class="form-label"><b>Nombre:</b> Juan Alejandro</label>
                
              </div>
              <div class="mb-3">
                <label for="apellido" class="form-label"><b>Apellidos:</b> Hernandez Cruz</label>
                
              </div>
              <div class="mb-3">
                <label for="telefono" class="form-label"><b>Telefono:</b> 32216098</label>
                
              </div>
              <div class="mb-3">
                <label for="nacimiento" class="form-label"><b>Fecha de Nacimiento:</b> 07/09/1996</label>
                
              </div>
              <div class="mb-3">
                <label for="facultad" class="form-label"><b>Facultad:</b> Ingenieria</label>
                
              </div>
              <div class="mb-3">
                <label for="carrera" class="form-label"><b>Carrera que pertenece:</b> Ingenieria en Sistemas</label>
                
              </div>
              <div class="mb-3">
                <label for="cuenta" class="form-label"> <b>Numero de cuenta:</b> 20151002219</label>
                
              </div>
              <div class="mb-3">
                <label for="rol" class="form-label"><b>Estudiante,</b> Exito amigo.</label>
                
              </div>      
              <div class="mb-3">
                <label for="correo" class="form-label"><b>Correo Institucional:</b> jahcruz@unah.hn</label>
                
              </div>
              <div class="mb-3">
                <label for="password" class="form-label"><b>Constraseña:</b> Te la mostraria, pero no es seguro recuerdas.</label>
                
              </div>
    
            
    
              <div class="mb-3 form-check">
                <button type="submit" class="btn btn-secondary btn-lg float-start" routerLink="/inicio">Volver</button>
                <button type="submit" class="btn btn-success btn-lg float-end" >Editar</button>
              </div>
              
            </form>

        </div>
    </div>
</div>
