
<div class="franja-amarilla container-fluid"></div>
<div class="container-fluid">
      <div class="row">
        <div class="col-4 fondo pt-5 text-center bottom" >  
          
         <img src="../../../assets/img/perfiles-temporal/3.jpg" class="perfil-img" alt="">
         
         <div class="d-grid gap-2 col-6 mx-auto fondo-azul">
          <button class="btn btn-primary btn-perfil">Juan Hernandez</button>
         </div>

         <div class="d-grid gap-2 col-10 mx-auto div-cuerpo">
          <a href="http://" class="txt-enlace"><i class="fa-solid fa-user icon-enlace"></i>Información Personal</a>
          <a href="" class="txt-enlace"><i class="fa-solid fa-certificate icon-enlace"></i>Constancias</a>
          <a href="" class="txt-enlace"><i class="fa-solid fa-handshake-angle icon-enlace"></i>Actividades</a>
          <a href="" class="txt-enlace text-danger"><i class="fa-solid fa-exclamation icon-enlace"></i>Reportar</a>
         </div>
         
          
      
        
      </div>
      <div class="col-8 bg-white">col-8</div>
</div>
