<div class="container">
    <div class="text-center mt-4">
        <h4>CREAR ACTIVIDAD</h4>
    </div>
    <div class="form-actividad">
        <p><b> Ingrese la siguiente informacion:</b></p>
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Ingrese el nombre de la actividad">
            </div>
            <select class="form-select mb-3" aria-label="Default select example">
                <option selected>Area del Conocimiento</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>

            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                <label for="floatingTextarea2">Comments</label>
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Ingrese el nombre de la actividad">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Ingrese el nombre de la actividad">
            </div>

            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Ingrese el nombre de la actividad">
            </div>

            <div class="mb-3">
                <input type="file" class="form-control" placeholder="Ingrese el nombre de la actividad">
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Acepto los terminos y que la informacion brindada es
                    real.</label>
            </div>
            <div class="d-flex justify-content-evenly">
                <button type="button" class="btn btn-success mr-4">Guardar</button>
                <button type="button" class="btn btn-danger">Descartar</button>

            </div>
        </form>
    </div>

</div>