

<div class="container">
    <div>
        <h1>Crear nueva actividad</h1>
    </div>
    <div class="form-actividad">
        <form>
            <div class="mb-3 input-size">
                <input type="text" class="form-control" placeholder="Ingrese el nombre de la actividad">
            </div>
            <div class="mb-3 input-size">
                <input type="text" class="form-control" placeholder="Area del conocimiento">
            </div>
            <div class="mb-3 input-size">
                <textarea class="form-control" placeholder="Ingrese una breve descripcion de la actividad"
                    id="floatingTextarea2" style="height: 100px"></textarea>
            </div>
            <div class="mb-3 input-size">
                <input type="text" class="form-control" placeholder="Fecha y hora">
            </div>
            <div class="mb-3 input-size">
                <input type="text" class="form-control" placeholder="Constancia validada por">
            </div>
            <div class="mb-3 input-size">
                <input type="text" class="form-control" placeholder="Encargados">
            </div>
            <div class="mb-3 input-size">
                <input type="text" class="form-control" placeholder="subir imagen">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>