/*header*/

.container-fluid{
	background: #065471;
	height: 70px;
}

.container-fluid h3{
	color: #FFCD6A;
	margin-left: 100px;
	margin-right: auto;

}

.container-fluid  .btn-warning {
	border-radius: 15px;
	margin-left: 750px;
	background:#FFCD6A ;
	color: #065471;
	font-size: 20px;

}

.bg-light {
	padding: 0;
	margin: 0;
}

/* cuerpo*/


body{
	background: rgb(240,240,240);
}

#content{
	min-height: 600px;
	width: 70%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px gray;
	background-image: rgba(255,255,255,0.7);
}

.img-responsive{
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 610px;

}

body *{
	margin: 0px;
}

#content button {
	left: 65%;
	position: absolute;
	width: 250px;
    height: 50px;
    background: #065471;
    border-color: #065471;
    color: white;
    border-radius: 10px;

}


.ini_sesion .iniciar {
    top: 25%;
}

.registrar .registrate {   
    top: 37%;

}


/* pie de pagina*/

footer{
	width: 70%;
	height: 70px;
	margin: 0px auto;
	padding-top: 15px;
	opacity:rgba(0,0,0);
	background-color: #065471 ;
}

a {
    color: #0d6efd;
    text-decoration: none;
}