.navbar {
    background-color: rgb(4, 76, 163) !important;
    color: rgba(255, 157, 0, 0.735);
 }
 
 .ancho100 {
     width: 100% !important;
 }
 
 
 
 .fondo {
    background-color: rgba(26, 178, 229, 0.5);
    /*(255, 166, 0, 0.174);*/
 }
 
 .card {
     background-color: rgba(241, 154, 13, 0.37);
     /*background-color: rgba(255, 157, 0, 0.37);*/
     color: rgb(4, 76, 163);
     border-radius: 15px;
 }
 
 #logo {
     border-radius: 50%;
     width: 30px;
     height: 30px;
 }
 
 .colorPrincipal {
     background-color: rgba(255, 157, 0, 0.37);
 }
 
 .table {
     color: rgb(4, 76, 163);
 }
 
 .btnImprimir {
     background-color: rgb(92, 194, 24);
     border-radius: 20px;
     color: white;
 }
 
 .btnVerMas {
     background-color: rgb(228, 156, 22);
     border-radius: 20px;
     color: white;
 }
 
 .titulo {
     background-color: rgb(4, 76, 163);
     color: white;
     border-radius: 20px;
     text-align: center !important;
 }
 
 .conT {
     text-align: center !important;
 }
 
 .fa-solid {
    color: rgba(255, 157, 0, 0.735);
 }