<div class="container text-center">
    <img src="../../../assets/img/logo_transparent.png" height="250" alt="" class="src">
    <div>
        <p class="m-0 fw-bold fs-4">
            CAMBIAR CONTRASENA
        </p>

        <p class="mt-3 text-muted">
            INGRESE LA CONTRASENA TEMPORAL QUE SE LE ENVIO A SU CORREO
        </p>
    </div>

    <form [formGroup]="changePass" (ngSubmit)="sendPass()">
        <div class="mb-3">
            <div class="mb-3">
                <input class="" type="password" placeholder="Contrasena Temporal" formControlName="tempPass">
            </div>
            <p class="mt-3 text-muted">
                INGRESE LA NUEVA CONTRASENA
            </p>
            <input class="" type="password" placeholder="Nueva Contrasena" formControlName="nuevaPass">
        </div>
        <div class="mb-3">
            <input class="" type="password" placeholder="Confirmar Contrasena" formControlName="confirmarPass">
        </div>
        <div>
            <button type="submit" class="btn btn-success">CAMBIAR CONTRASENA</button>
        </div>
    </form>

    <p class="mt-3 text-muted text-decoration-underline">
        SE LE ENVIO UNA CONTRASENA PROVICIONAL AL CORREO
    </p>


</div>