<!DOCTYPE html>
<html>

<header>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</header>

<body id="content">

  <nav class="navbar nav-azul">
    <div class="container-fluid nav-azul px-5">
      <a class="navbar-brand titulo-amarillo" href="">
        <h3 class="ml-4">
          <!-- <img src="../assets/img/logo_transparent.png" alt="" width="75" height="54" class="d-inline-block align-text-top"> -->
          <i class="fa-solid fa-bars px-3"></i> CONEXION UNAH
        </h3>
      </a>

      <button type="button" routerLink="/login" class="ml-5 btn btn-dark btn-lg btn-amarillo">Iniciar Sesión </button>
      <button type="button" (click)="logout()" class="ml-5 btn btn-dark btn-lg btn-amarillo">Cerrar Sesión </button>
    </div>

  </nav>

  <router-outlet></router-outlet>
  <!-- <h1>
    <router-outlet></router-outlet>
  </h1> -->

</body>
<footer class="footer-azul">
  <br>
  <h4>&copy; ZIKA CORPORATION</h4><br>
</footer>


</html>