<!DOCTYPE html>
<html>

<header>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">



</header>
<body id="content">
  <div id="slider">
    <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
  </div>
      <div class="principal"> 
        <img  class="img-responsive" src="assets/img/fondo_body.jpg">
       </div>

  <div class="ini_sesion">
    <button class="iniciar" type="submit" routerLink="/login">INICIAR SESION</button>
  </div>
  <div class="registrar">
    <button  class=registrate type="submit" routerLink="/registrar-usuario">REGISTRATE</button>
  </div>
  
</body>

</html>


