#slider{
	padding: 3px 10%;
	width: 100%;
	border-radius: 0px;
	background: #dee2e6;
}


.container-fluid{
	background: #065471;
	height: 70px;
}

.container-fluid h3{
	color: #FFCD6A;
	margin-left: 100px;
	margin-right: auto;

}

.container-fluid  .btn-warning {
	border-radius: 15px;
	margin-left: 750px;
	background:#FFCD6A ;
	color: #065471;
	font-size: 20px;

}

.bg-light {
	padding: 0;
	margin: 0;
}

/* cuerpo*/

body{
	background: rgb(240,240,240);
}
.principal{
	padding: 1px 10%;
	background:#dee2e6;
}
#content{
	min-height: 400px;
	width: 70%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px gray;
	background-image: rgba(255,255,255,0.7);
	
}

.img-responsive{
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 570px;

}

body *{
	margin: 0px;
}

#content button {
	left: 65%;
	position: absolute;
	width: 180px;
    height: 43px;
    background: #065471;
    border-color: #065471;
    color: white;
    border-radius: 10px;


}


.ini_sesion .iniciar {
    top: 50%;
}

.registrar .registrate {   
    top: 65%;

}


/* pie de pagina*/

.footer-azul {
  background-color: #065471 !important;
  height: auto;
  color: white;
  padding: 0px;
  margin-top: 10px;
}